* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@font-face {
    font-family: 'DS-Digital';
    src: url('../font/ds_digital/DS-DIGI.TTF') format('truetype');
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/back.jpg"); 
    
    /* background-repeat: repeat; */
    
}

img {
    width: 100%;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    padding: 10px 10px 10px 10px;
}

h1 {
    z-index: 1;
    color: black;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    /* font-family: 'DS-Digital'; */
    margin-top: 25px;
    margin-left: -50px;
    letter-spacing: 2px;
    font-size: 40px;
}


#display {
    display: flex;
    width: 350px;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-top: -100px;
    margin-left: -45px;
    padding-left: 20px;
    padding-top: 100px;
    font-family: 'DS-Digital';
    font-size: 60px;
    font-weight: bold;
}

.bckg {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    
}

#btnGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 150px;
    height: 80px;
    padding: 10px;
    margin-top: 20px;
    margin-left: -50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    overflow: hidden;
}
/* 
button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.8s;
  }
  
  button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  } */

.horas {
    margin-left: -20px;
}

#start {
    background-color: rgba(252, 252, 252, 0.39);
}

#reset {
    background-color: rgba(252, 252, 252, 0.39);
}
#pause {
    background-color: rgba(252, 252, 252, 0.39);
}


#start:hover {
    animation-name: start;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    box-shadow:
    1px 1px #070707,
    2px 2px #000508,
    3px 3px #020303;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#reset:hover {
    animation-name: reset;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    box-shadow:
    1px 1px #070707,
    2px 2px #000508,
    3px 3px #020303;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#pause:hover {
    animation-name: pause;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    box-shadow:
    1px 1px #070707,
    2px 2px #000508,
    3px 3px #020303;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

@keyframes start {
    from{
        background-color: rgb(7, 247, 27);
        transition: all .35s;
    }
    to {    
        background-color: rgb(10, 240, 106);
        transition: all .35s;
    }
}

@keyframes reset {
    from{
        background-color: rgb(236, 24, 9);
    }
    to {    
        background-color: rgba(255, 17, 0, 0.863);
    }
}

@keyframes pause {
    from{
        background-color: rgb(245, 211, 22);
        color: #000;
    }
    to {    
        background-color: rgb(238, 234, 13);
        color: #000;
    }
}



@media screen and (min-width: 576px) { 
   h1 {
       font-size: 70px;
       margin-left: -70px;
   }
    
    #display {
        width: 500px;
        height: 300px;
        margin-left: -70px;
        font-size: 100px;
    }

    .bckg {
        margin-top: 50px;
    }
 }

@media screen and (min-width: 768px) { 
    h1 {
        font-size: 80px;
        margin-left: -70px;
    }
    
    #display {
        width: 600px;
        height: 350px;
        font-size: 120px;
    }
 }

@media screen and (min-width: 992px) { 
    #display {
        width: 700px;
        height: 350px;
        font-size: 140px;
    }
    #btnGroup {
        display: flex;
        flex-direction: row;
    }

    #start {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: -40px;
    }
    
    #reset {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: 50px;
      
    }
    #pause {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: 50px;
    }
 }

@media screen and (min-width: 1200px) { 
    #display {
        width: 800px;
        height: 350px;
        font-size: 140px;
    }
    #btnGroup {
        display: flex;
        flex-direction: row;
    }

    #start {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: -40px;
    }
    
    #reset {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: 50px;
      
    }
    #pause {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: 50px;
    }
 }

@media screen and (min-width: 1400px) { 
    h1 {
        font-size: 100px;
        margin-left: -70px;
    }
    
    #display {
        width: 800px;
        height: 450px;
        margin-top: -150px;
    }
    #btnGroup {
        display: flex;
        flex-direction: row;
    }

    #start {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: -40px;
    }
    
    #reset {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: 50px;
      
    }
    #pause {
        background-color: rgba(252, 252, 252, 0.39);
        margin-left: 50px;
    }
 }